* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
}

body {
  background-color: #ffffff;
  color: #333;
  line-height: 1.3;
}
/* ================= NAVBAR ================= */
header {
  width: 100%;
  background-color: #fffcfc;
  
}

.navbar {
  max-width: 100%;
  margin: auto;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h2 {
  font-size: 25px;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #666;
  font-size: 15px;
  padding-bottom: 2px;
  transition: border-bottom all 0.2s ease-in-out;
}

.nav-links li a:hover {
  border-bottom: 2px solid #1da0dd; 
}

.username span {
  font-size: 14px;
  font-weight: bold;
  color: #1da0dd;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #e9f8ff;
  cursor: pointer;
}
/* ========== HERO SECTION ========== */
.hero-section {
  max-width: 100%;
  margin: 0 40px;
  padding: 80px 20px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.hero-left {
  flex: 1;
  margin-left: 8%;
  height: auto;
  align-items: center;
}

.hero-left h1 {
  font-size: 44px;
  margin-bottom: 20px;
}

.hero-left h1 span {
  color: #1da0dd;
}

.hero-left p {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
}

.hero-left button {
  padding: 20px 50px;
  background-color: #1da0dd;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
}
.hero-right {
  flex: 1;
}
.hero-right img {
  max-width: 420px;
  width: 100%;
  cursor: pointer;
}
/* ========== ACHIEVEMENTS ========== */
.achievement-section {
  max-width: 100%;
  display: flex;
  align-items: center;
  background-color: #1da0dd;
  padding: 40px 20px;;

}

.achievement-title {
  width: 40%;
  margin: 0 40px;
  font-size: 35px;
}

.achievement-container {
  max-width: 100%;
  margin: auto;
  display: flex;
  gap: 40px;
}

.achievement h3 {
  display: flex;
  color: #333;
  font-size: 30px;
  margin-bottom: 5px;
  
}

.achievement p {
  color: #333;
  font-size: 14px;
  font-weight: 600;
}
/* ========== BOOKING SECTION ========== */
.booking-section {
  max-width: 100%;
  height: 100%;
  padding: 80px 20px;
  background-color: #e0e0e0cc;
}

.booking-wrapper {
  display: flex;
  gap: 15px;
  margin: 0 40px;
  
}

/* LEFT */
.services-box {
  min-width: 700px;
  width: 70%;
  background: #ffffff;
  padding: 15px 25px;
  border-radius: 18px;
}

.services-box h2 {
  font-size: 30px;
}

.services-desc {
  font-size: 17px;
  color: #666;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #e0e0e0;

}

.service-item {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  padding: 14px 0;
  border-radius: 10px;
  font-size: 17px;
  color: #000000;
}

.service-icon {
  margin: 0 10px;
  color: #6366f1;
  font-size: 18px;
  min-width: 30px;
}

.service-info {
  display: flex;
  align-items: center;
}

.service-price {
  margin-left: 20px;
  color: #6366f1;
  font-weight: 600;
}

.service-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

button {
  font-size: 14px;
  border: none;
  border-radius:10px;
  cursor: pointer;
}

.add-btn {
  background: #e6ecf1;
  padding: 10px 26px;
}

.remove-btn {
  color: #ec1d1d;
  background: #f3d0d0b7;
  padding: 10px 14px;
  
}

.services-footer {
  margin-top: 15px;
  font-size: 14px;
  color: #6366f1;
  display: flex;
  align-items: center;
  gap: 4px;
}

.services-footer {
  color: #6366f1;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  padding: 30px 0 10px 0;
  margin-top: 20px;
  border-top: 2px solid #e0e0e0;

}
/* RIGHT */
.cart-form-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cart-box {
  min-width: 400px;
  height: 60%;
  background: #ffffff;
  border-radius: 18px;
}

.cart-box h2 {
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
  background-color: #e6ecf1;
}

.cart-table th {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  padding: 8px;
}

.table-sNo {
  width: 10%;
}

.cart-table td {
  font-size: 12px;
  background-color: #ffffff;
  color: #666;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}

.total-amount {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px;
  border-top: 2px solid #e0e0e0;
  
}

.form-box {
  min-width: 300px;
  background: #ffffff;
  padding: 15px;
  border-radius: 18px;
}

.booking-form h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 14px;
}

.form-group label {
  font-size: 13px;
  color: #000000;
  margin-bottom: 4px;
  display: block;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  border: 2px solid #e0e0e0;

}

.form-row {
  display: flex;
  gap: 10px;
}

.book-btn{
  width: 100%;
  padding: 14px;
  background-color: #6366f1;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
}

.success-msg {
  margin-top: 12px;
  text-align: center;
  font-size: 14px;
  color: #16a34a;
}

/* ========== QUALITY SECTION ========== */
.quality-section {
  max-width: 100%;
  padding: 80px 20px;
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
  gap: 8%;
  text-align: center;
}

.quality-item h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

.quality-item p {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}

.quality-item i {
  font-size: 50px;
  color: #1f2937;
  margin-bottom: 10px;
}
/* ========== NEWSLETTER ========== */
.newsletter-section {
  max-width: 100%;
  background-color: #1da0dd;
  padding: 80px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.newsletter-title {
  width: 40%;
  color: #ffffff;
  font-size: 40px;
  margin: 0 40px;
}

.newsletter-input input{
  font-size: 20px;
  border: none;
  padding: 15px;
  margin: 0 10px 14px 0;
  background-color: #3fabdd;
}

input::placeholder {
  font-size: 18px;
  color: #e0e0e0cc;
}

.subscribe-btn {
  font-size: 20px;
  border: none;
  padding: 15px 92px;
  border-radius: 0px;
  background-color: #ffffff;
  color: #1da0dd;
  cursor: pointer;
}

/* ========== FOOTER ========== */
.footer-section {
  background-color: #e0e0e0cc;
  padding: 80px 20px 40px 20px;
}

.footer-container {
  max-width: 100%;
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.footer-col h3 {
  font-size: 35px;
  margin-bottom: 30px;
}

.footer-col h4 {
  margin-bottom: 10px;
}

.footer-col ul {
  list-style: none;
  
}

.footer-col ul li {
  margin-bottom: 6px;
  font-size: 14px;
  color: #555;
  cursor: pointer;
}

.social-icons span {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;

}

.social-icons i {
  font-size: 18px;
  margin-right: 12px;
  color: #333;
  cursor: pointer;
}

.social-icons i:hover {
  color: #1da0dd;
}
